$bgColor: #142257;
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $bgColor;
  &__container {
    min-height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 180px 1fr 180px;
    gap: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    @media (max-width:767px){
      grid-template-columns: auto auto;
      justify-content: space-between;
  }
}

  &__logo {
    position:relative;
    z-index:5;
  }

  &__menu {
  }

  &__schedule {
    justify-self: end;
    line-height: 1.33;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    &::before {
      content: "";
      flex: 0 0 12px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ff5e5e;
    }
  }
}
.menu {
  justify-self: center;
  &__icon {
  }

  &__body {
   
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    @include adaptiv-value("column-gap", 57, 15, 1 ,768);
  }

  &__item {
  }

  &__link {
    color: #fff;
    font-weight: 700;
    line-height: 1.33;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    &.active{
      color:$liteColor;
    }
  }
}

@media (max-width: 767px) {
  .icon__menu {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
  }
  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon.active::before,
  .menu__icon.active::after,
  .menu__icon.active span {
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: -2px;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) traslate(0px, -50%);
  }
  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #1F3584;
    padding: 100px 15px 15px 15px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap:30px;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: $bgColor;
  }
  .menu__list{
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    gap:32px;
    font-size: 24px;
  }
  .menu__list > li {
    flex-wrap: wrap;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 24px;
    color: #fff;
  }
}
